name: Build

on: 
  push:
    branches:
      - main
      - github-actions
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1.7.2
      - run: dotnet tool install --global tcli --version 0.1.4
      - run: dotnet build -c Release .
      - run: mkdir dist && cp bin/Release/net46/PeglinCore.dll dist/
      - name: Build thunderstore package
        run: tcli build
      - uses: actions/upload-artifact@v3
        with:
          path: |
            dist/PeglinCore.dll
            build/*.zip
          if-no-files-found: error
  release:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref_type == tag
    steps:
      - run: echo "It's a tag!"