name: Build

on: 
  push:
    branches:
      - main
      - github-actions
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1.7.2
      - run: dotnet tool install --global tcli --version 0.1.4
      - run: dotnet build -c Release .
      - run: mkdir dist && cp bin/Release/net46/PeglinCore.dll dist/
      - name: Build thunderstore package
        run: tcli build
      - uses: actions/upload-artifact@v3
        with:
          path: |
            dist/PeglinCore.dll
            build/*.zip
          if-no-files-found: error
  release:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref_type == 'tag'
    steps:
      - uses: actions/checkout@v2
      - uses: dawidd6/action-get-tag@v1
        with:
          strip_v: true
      - uses: mavrosxristoforos/get-xml-info@1.0
        with:
          xml-file: PeglinCore.csproj
          xpath: //Project/PropertyGroup/Version
      - name: Get thunderstore.toml version
        run: |
          version=$(grep "versionNumber" thunderstore.toml | cut -d" " -f3 | tr -d '"')
          echo "toml_version=$version" >> $GITHUB_ENV
      # get version from thunderstore.toml
      # if not actions match, trigger failure
      - name: Validate versions
        if: steps.tag.outputs.tag != steps.getxml.outputs.info || steps.tag.outputs.tag != env.toml_version
        uses: actions/github-script@v3
        with:
          script: core.setFailed('Release version mismatch!')