name: Release

on:
  release:
    types: [released]
    
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1.7.2
      - run: dotnet tool install --global tcli --version 0.1.4
      - uses: hmarr/debug-action@v2
      - run: echo "Downloading asset ${{ github.event.release.assets[0].browser_download_url }}"
      - run: wget ${{ github.event.release.assets[0].browser_download_url }}
      - run: tcli publish --file PeglinCore-PeglinCore-*.zip